@font-face {
    font-family: 'consolas';
    /*src: url('resources/fonts/consola.eot');*/ /* IE9 Compat Modes */
    /*src: url('resources/fonts/consola.eot?#iefix') format('embedded-opentype'),*/ /* IE6-IE8 */

    url('resources/fonts/Consolas.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/consola.ttf')  format('truetype') /*, Safari, Android, iOS */

    /*url('resources/fonts/consolas.svg#consolas') format('svg'); *//* Legacy iOS */
}

p, input, span{cursor: default}

.window{ /* Full window */
    border: 5px black;
    height: 450px; /* 590px */
    width: 720px;
    text-align: center;
    animation-fill-mode: forwards;
    transition-timing-function: linear;

    /* Draggable */
    position: absolute;
    z-index: 9;
}
.window:focus{
    border: 1px dodgerblue;
}

.window-top{ /* Window top bar */
    border: 10px black;
    height: 30px; /* 20px */
    width: 100%; /* 120px */
    background-color: white;
    vertical-align: middle;
    display: inline-block;

    /* Draggable */
    /*cursor: move;*/
    z-index: 10;
}
.window-title{ /* Part of top, the text */
    height: 100%;
    float: left;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 9.5pt;
    font-family: "Segoe UI", serif;
}
.window-top-icon{ /* Part of top, the icon */
    float: left;
    top:0;
    bottom:0;
    padding-left: 7px;
    padding-top: 1%; /*5px*/
    width: 17px;
    height: 17px;
}


/* Top bar buttons */
.window-top-button{
    height: inherit;
    width: 46.6px;
    border-width: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    float: right;
}

.window-top-button-close{
    color: black;
    background-color: white;
    transition: 0.2s;
}
.window-top-button-close:hover{
    background-color: red; /*#CDCDCD */
    color: white;
    transition: 0.2s;
}
.window-top-button-other{
    color: black;
    background-color: white;
    transition: 0.2s;
}
.window-top-button-other:hover{
    background-color: #CDCDCD;
    transition: 0.2s;
}

body{
    background: url("resources/default.jpg");
    background-size: cover;
    overflow: hidden;
    margin: 0;
}


/* Taskbar stuff */
#taskbar{
    height: 40px;
    overflow: hidden;
    position: fixed;
    margin-left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A222A;
    z-index: 500;

    /* Prevents icon text and image selection with default browser drag */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.taskbar-icon{
    float: left;
    width: 50px;
    height: inherit;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    vertical-align: middle;
}
.taskbar-icon:hover{
    background-color: #2A2726;
}
/* All taskbar items */
.taskbar-item{
    background-color: inherit;
}
.taskbar-item:hover{
    background-color: #2A2726;
}

.taskbar-icon-image{
    height: 18px;
    width: 18px;
    top: 50%;
    left: 50%;
    margin-top: 11px;
}
.taskbar-icon-image:focus{
    outline-width: 0;
}

img.windows-start-button{
    content: url("resources/start-button.png");
}
div.windows-start-button:hover > img.windows-start-button{
    content: url("resources/start-button-blue.png");
}
#taskbar-process{
    height: inherit;
}

/* Taskbar tray and misc. */

#taskbar-misc{
    float: right;
    background-color: inherit;
    height: inherit;
    width: auto;
}
#taskbar-misc > * {
    float: right;
}

#windows-peek{
    height: 100%;
    width: 10px;
    border-left: 1px #6B6D6E;
    background-color: #1F2225;

    opacity: 20%;
}
#windows-peek:focus{
    outline-width: 0;
}
#windows-peek:hover{
    background-color: #212427;
}
#taskbar-clock{
    width: 65px;
}
#taskbar-clock:hover{

}
#taskbar-clock-text{
    color: white;
    font-family: "Segoe UI", serif;
    font-size: 9pt;
    text-align: center;
    /height: 0px;
}
#taskbar-clock-date{
    color: white;
    font-family: "Segoe UI", serif;
    font-size: 9pt;
    margin-bottom: 100px;
}

#credits{
    margin-top: 8px;
    margin-left: 5px;
}


@keyframes peek_opacity {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}
