@font-face {
    font-family: 'consolas';
    src: url('resources/fonts/consola.eot'); /* IE9 Compat Modes */
    src: url('resources/fonts/consola.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/Consolas.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/consola.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/consola.svg#consolas') format('svg'); /* Legacy iOS */
}

#cmd-box{
    border: 5px black;
    height: 590px; /* 590px */
    width: 50%; /* 120px */
    text-align: center;

    /* Draggable */
    position: absolute;
    z-index: 9;
}
#cmd-top{
    border: 1px black;
    height: 30px; /* 20px */
    width: 100%; /* 120px */
    background-color: white;
    vertical-align: middle;
    display: inline-block;

    /* Draggable */
    cursor: move;
    z-index: 10;
}
#cmd-text{
    overflow: auto;
    display: inline-block;
    width: 100%;
}
.cmdline{
    color: white;
    background-color: black;
    /text-decoration-color: white;
    border-width: 0;
    font-family: Consolas, serif;
    width: 100%; /* 120px */
    padding: 0;
}
.cmdline:focus{
    outline: none;
}
#cmdline-last{

}

#credits{

}

.window-top-icon{
    float: left;
    top:0;
    bottom:0;
    /max-height: 25px;
    /min-height:25px;
    /height: 100%;
    /width: 30px;
    /vertical-align: middle;
    padding-left: 7px;
    padding-top: 1%; /*5px*/
}
.window-title{
    height: 100%;
    /vertical-align: middle;
    float: left;
    padding-left: 2px;
}
/*
#cmd-top-title{
    vertical-align: middle;
    float: left;
    padding-left: 0px;
    //margin-left: 10px;

}*/


body{
    background: url("resources/default.jpg");
    background-size: cover;
}