#desktop{
    display: grid !important;
    /grid-template-columns: auto; /* repeat(12, auto); */
    /grid-template-rows: auto; /* repeat(8, auto) */
    grid-template-rows: repeat(4, 118px);
    grid-template-columns: repeat(8, 160px);
    /*padding: 2px 0;*/
    /*grid-template-columns: auto auto auto;*/
    padding: 5px;
    overflow: fragments;

    /* Prevents icon text and image selection with default browser drag */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.desktop-icon{
    /*border: 1px solid black;*/
    margin-top: 7px;/* Distance is about 45px */
    margin-bottom: 38px;

    width: 155px;
    height: 80px;
    border: 1px solid transparent;
    text-align: center;
}
.desktop-icon:hover{
    /*opacity: .8;*/
    border: 1px solid grey;
    background-color: rgba(177, 201, 239, 0.2);
}
.desktop-icon.selected{
    border: 1px solid grey;
    background-color: rgba(177, 201, 239, 0.2);
}
.desktop-icon.selected:hover{
    border: 1px solid grey;
    background-color: rgba(177, 201, 239, 0.4);
}
.desktop-icon-text{
    color: white;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;
}
.desktop-icon-image{
    height: 50px;
    width: 50px;
}