#desktop{
    display: grid !important;
    grid-template-columns: auto; /* repeat(12, auto); */
    grid-template-rows: auto; /* repeat(8, auto) */
    /*padding: 2px 0;*/
    /*grid-template-columns: auto auto auto;*/
    padding: 5px;
}
.desktop-icon{
    /*border: 1px solid black;*/
    width: 140px;
    height: 90px;
    border: 1px solid transparent;
    margin:1px;
    text-align: center;
}
.desktop-icon:hover{
    /opacity: .8;
    border: 1px solid grey;
    background-color: rgb(177, 201, 239);
}
.desktop-icon-text{
    color: white;
}